<!doctype html>
<html ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/site.js"></script>
  </head>
  <body ng-controller="MessageListCtrl">
    <div class="container">
      <div>
        <form ng-submit="create()">
          <fieldset>
            <legend>Say something</legend>
            <textarea class="span12" rows="3" ng-model="messageText" placeholder="add new message here" style="resize:none;"></textarea>
            <br>
            <input class="btn btn-primary span2" type="submit" value="Send">
          </fieldset>
        </form>
      </div>
      <div id="panel-messages">
        <div class="well" ng-repeat="message in messages.objects">
          {{message.text}}
        </div>
      </div>
    </div>
  </body>
</html>