<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="self" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:ss} %m%n" />
		</layout>
	</appender>
	<appender name="thirdparty" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:ss} %l %m%n" />
		</layout>
	</appender>
	<logger name="constantinexue.restseed" additivity="false">
		<level value="debug" />
		<appender-ref ref="self" />
	</logger>
	<root>
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</root>
</log4j:configuration>